/* Register.module.css */
* {
  box-sizing: border-box;
  margin: 0;
}

.formContainer {
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.form {
  background-color: #090979;
  padding: 30px 0px;
}
.designation {
  display: flex;
  /* height: fit-content; */
  align-items: end;
}
.readOnly {
  display: flex;
  /* height: fit-content; */
  align-items: end;
}

.row {
  display: flex;
  gap: 20px;
  div {
    width: 100%;
  }
}

h4 {
  text-align: center;
  color: #003366;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

textarea {
  resize: none;
}

button {
  width: 48%;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
}
.regButton {
  color: #003366;
  background-color: lightblue;
}
.regbutton:hover {
  opacity: 0.9;
}

.cancelButton {
  color: rgba(204, 102, 65, 0.897);
  background-color: lightblue;
}

.cancelButton:hover {
  opacity: 0.9;
}

.errors {
  color: rgb(166, 36, 36);
  font-size: 12px;
  list-style: none;
}

footer {
  margin-top: 20px;
  font-size: 14px;
  font-weight: bold;
}
